<div class="col-12 textarea-container__quote position-relative">
    <div class="quote">{{message}}</div>
    <button class="position-absolute quote__btn" id="textarea-container__quote-delete">
        {{#pix}}i/remove, local_pr_graduates{{/pix}}
    </button>
</div>