<div class="buttons-container">
    <div class="link-container">
        <a href='#' data-consent="{{consent}}" id="consent_link">{{name}}</a>
    </div>
    <div>
        <input type='submit' class='btn btn-primary' name='submitbutton' id='id_submitbutton' value='Сохранить'>
    </div>
</div>